.searchBoxContainer{
    text-align: center;
}

.searchBox{
    width: 1000px;
    height: 60px;
    font-size: 50px;
    border: solid;
    color: tomato;
    border-radius: 10px;
} 


h1{
    color: brown;
    align-items: center;
    font-size: 50px;
    margin:auto;
    text-align:center;
}
button{
    width: 100px;
    height: 44px;
    color: cornflowerblue;
    border: solid;
    border-radius: 20px;
}
